@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  /* 10px */
  --font-10: 0.625rem;
  /* 12px */
  --font-12: 0.75rem;
  /* 13px */
  --font-13: 0.8125rem;
  /* 14px */
  --font-14: 0.875rem;
  /* 15px */
  --font-15: 0.9375rem;
  /* 16px */
  --font-16: 1rem;
  /* 18px */
  --font-18: 1.125rem;
  /* 20px */
  --font-20: 1.25rem;
  /* 24px */
  --font-24: 1.5rem;
  /* 28px */
  --font-28: 1.75rem;
  /* 32px */
  --font-32: 2rem;
  /* 36px */
  --font-36: 2.25rem;
  /* 40px */
  --font-40: 2.25rem;
  /* 46px */
  --font-46: 2.8755rem;
  /* 72px */
  --font-72: 4.5rem;
  /* 14.4px */
  --text-1: 0.9rem;

  /* 文字カラー */
  --font-black: #121;
  --font-white: #fff;
  --font-red: #ff2a3a;

  /* ラインカラー */
  --line-black: #333;
  --line-white: #fff;

  /* 背景色 */
  --bg-black: #121212;
  --bg-white: #fff;
  --bg-red: #ff2a3a;
  --bg-gray: #e8e8e8;
  --bg-darkgray: #414141;

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 960px) {
} */

/* ============================
* 共通
* ========================= */
body {
  color: var(--font-black);
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}


a {
  display: block;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

/* ol {
  list-style: none;
} */

img {
  height: auto;
}

.hidden {
  display: none;
}

/* タイトル */
.sec__ttl {
  font-size: var(--font-28);
  line-height: 1.464;
  position: relative;
  text-align: center;
  font-weight: 700;
  margin-bottom: 60px;
}

@media screen and (max-width: 960px) {
  .sec__ttl {
    font-size: var(--font-20);
    line-height: 1.45;
    margin-bottom: 30px;
  }
}

/* タイトル横線 */
.sec__ttl::before {
  position: absolute;
  content: "";
  background: var(--line-black);
  width: 240px;
  height: 1px;
  top: 50%;
  left: 0;
}

@media screen and (max-width: 960px) {
  .sec__ttl::before {
    width: 60px;
  }
}

.sec__ttl::after {
  position: absolute;
  content: "";
  background: var(--line-black);
  width: 240px;
  height: 1px;
  top: 50%;
  right: 0;
}

@media screen and (max-width: 960px) {
  body .open {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.project .sec__ttl::before,
.feature .sec__ttl::before,
.project .sec__ttl::after,
.feature .sec__ttl::after {
  background: var(--line-white);
}

/* セクション幅 */
.sec__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 960px) {
  .sec__inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* background: gray; */
  }
}

/* ============================
* header
* ========================= */
.header {
  width: 300px;
  z-index: 10;
  background-color: var(--bg-white);
  position: fixed;
  height: 100%;
}

@media screen and (max-width: 960px) {
  .header {
    width: 100%;
    height: 72px;
    overflow: hidden;
  }
}

.header__inner {
  padding: 40px 55px 0 45px;
}

@media screen and (max-width: 960px) {
  .header__inner {
    padding: 0 18px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* header__logo */
.header__logo {
  margin-bottom: 38px;
}

@media screen and (max-width: 960px) {
  .header__logo {
    width: 180px;
    margin-bottom: 0;
  }
}

/* global-nav */
.global-nav {
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.global-nav__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.global-nav__link {
  color: var(--font-black);
  font-size: var(--font-14);
  line-height: 1.43;
}

/* sns-list */
.sns-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sns-list__link {
  color: var(--font-black);
  font-size: var(--font-14);
  line-height: 1.43;
}


/* ハンバーガメニュー */
.hidden-text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@media screen and (max-width: 960px) {
  .hamburger {
    width: 30px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger__line {
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: var(--bg-black);
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}

.hamburger__line::before,
.hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: inherit;
}

.hamburger__line::before {
  top: -10px;
}

.hamburger__line::after {
  top: 10px;
}

/* メニューオープン時のクラス */
.hamburger[aria-expanded="true"] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded="true"] .hamburger__line::before,
.hamburger[aria-expanded="true"] .hamburger__line::after {
  top: 0;
  background-color: var(--bg-black);
}

.hamburger[aria-expanded="true"] .hamburger__line::before {
  transform: rotate(45deg);
}

.hamburger[aria-expanded="true"] .hamburger__line::after {
  transform: rotate(-45deg);
}

.global-nav.open {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  opacity: 1;
  background-color: var(--bg-white);
  transition: transform 0.5s ease;
}

.global-nav {
  position: fixed;
  top: 0;
  opacity: 0;
  padding-top: 36px;
  padding-left: 50px;

}

@media screen and (max-width: 960px) {
  .global-nav {
    padding: 25px;
  }

  .body__mask--sp {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
}

.global-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 960px) {
  .global-nav__list {
    margin-top: 29px;
  }
}

.global-nav__link {
  color: var(--font-black);
  font-size: var(--font-16);
  line-height: 1.125;
}

@media screen and (max-width: 960px) {
  .global-nav__link {
    font-size: var(--font-14);
  }
}

/* ============================
*  main
* ========================= */
.main {
  width: calc(100% - 300px);
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .main {
    width: 100%;
  }
}

/* 背景 */
.main-visual {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .main-visual {
    height: 80vh;
  }
}

.main-visual__video {
  position: fixed;
  top: -220px;
  left: 300px;
  z-index: -10;
}

@media screen and (max-width: 960px) {
  .main-visual__video {
    top: 72px;
    left: 0;
    z-index: -10;
    height: 520px;
  }
}

/* project */
.project__wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  color: #fff;
}

.project__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}

.project__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

@media screen and (max-width: 960px) {
  .project__body {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.project__item {
  border: solid 1px var(--line-white);
  box-shadow: 0 -30px 15px -1px #2e2e2e inset;
}

.project__link {
  position: relative;
}

.project__label {
  color: var(--font-white);
  font-size: var(--font-12);
  text-transform: uppercase;
  position: absolute;
  left: 7px;
  bottom: 4px;
}

/* feature */
.feature__wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.feature__inner {
  padding-top: 80px;
  padding-bottom: 160px;
}

.feature__body {
  display: flex;
  justify-content: space-between;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.feature__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: calc(50% - 11px) 0;
  border-radius: 10000px;
  border: 1px solid #fff;
  color: var(--font-white);
  font-size: var(--font-14);
  line-height: 1.43;
  margin-bottom: 15px;
}

.feature__label {
  font-size: var(--font-16);
  font-weight: 700;
  line-height: 1.4375;
  margin-bottom: 5px;
}

.feature__txt {
  font-size: var(--font-14);
}

/* flow */
.flow__wrapper {
  background-color: var(--bg-white);
  color: var(--font-black);
}

.flow__inner {
  padding-top: 120px;
  padding-bottom: 50px;
}

.flow__desc {
  margin-bottom: 60px;
}

.flow__body {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .flow__body {
    flex-direction: column;
    align-items: center;
  }
}

.flow__list {
  list-style-position: inside;
}

.flow__list--left {
  width: 200px;
  position: relative;
  z-index: 10;
}

.flow__list--left::after {
  margin-bottom: 30px;
  position: absolute;
  content: "";
  width: 50px;
  height: 600px;
  background-color: #ffdd00;
  top: 0;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.flow__list-item--left {
  color: var(--font-white);
  background-color: var(--bg-darkgray);
  clip-path: polygon(50% 100%, 100% 71.5%, 100% 0, 0 0, 0 71.5%);
  height: 110px;
  text-align: center;
  line-height: 80px;
}

.flow__list-item--left:not(:last-of-type) {
  margin-bottom: 30px;
}

.flow__item-label--left,
.flow__list-item--left::marker {
  font-size: var(--font-14);
  line-height: 81px;
}

.flow__list--right {
  max-width: 619px;
  counter-reset: step-counter;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.flow__list-item--right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flow__item-label--right {
  display: block;
  counter-increment: step-counter;
  position: relative;
  padding-left: 45px;
  font-size: var(--font-20);
  line-height: 1.45;
}

.flow__item-label--right::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  top: 2px;
  color: var(--font-white);
  background-color: var(--bg-darkgray);
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
}

.flow__item-desc {
  padding-top: 10px;
  margin-left: 45px;
  border-top: 1px solid var(--bg-black);
  line-height: 1.4375;
}

/* contact */
.contact__wrapper {
  background-color: var(--bg-white);
  color: var(--font-black);
}

.contact__inner {
  padding-top: 80px;
  padding-bottom: 160px;
}

.contact__desc {
  margin-bottom: 60px;
}

.contact__body {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .contact__body {
    flex-direction: column;
    align-items: center;
  }
}

.contact__item {
  width: 30%;
  position: relative;
}

@media screen and (max-width: 960px) {
  .contact__item {
    width: 60%;
  }
}

.contact__link {
  color: var(--font-black);
  font-size: var(--font-14);
  line-height: 1.43;
}

/* アイコン */
.contact__link {
  border: 1px solid var(--bg-black);
  width: 100%;
  padding-top: 119px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact__link::before {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.contact__link--document::before {
  content: url(../img/icon-document.png);
}

.contact__link--seminar::before {
  content: url(../img/icon-seminar.png);
}

.contact__link--counseling::before {
  content: url(../img/icon-talk.png);
}

.contact__link:hover {
  outline: 3px solid var(--bg-black);
  outline-offset: -3px;
}

.contact__item--triangle {
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: 4px;
  right: 4px;
  border-left: 20px solid transparent;
  border-bottom: 20px solid var(--bg-black);
}

/* ============================
* footer
* ========================= */
.footer {
  background-color: var(--bg-black);
  padding: 50px 0 20px;
  width: calc(100% - 300px);
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .footer {
    width: 100%;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}


.footer-menu__list {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 960px) {
  .footer-menu__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-menu__item {
  padding-right: 20px;
}

.footer-menu__item:not(:last-of-type) {
  border-right: 1px solid var(--bg-white);
}

.footer-menu__item .footer-menu__link,
.footer__copyright {
  color: var(--font-white);
}

.footer-menu__link {
  font-size: var(--font-14);
  line-height: 1.43;
}

.footer__copyright {
  font-size: var(--font-12);
  line-height: 1.42;
}

/* page-top */
.page-top {
  width: 50px;
  height: 50px;
  background-color: var(--bg-black);
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.page-top.is-visible {
  opacity: 1;
  visibility: visible;
}

.page-top::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.is-drawerActive .mask {
  width: 100%;
  height: 100%;
  background-color: #121212;
  cursor: pointer;
  display: block;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
